<%- include('header'); -%>
<div class="content">
  <h1>Clients</h1>
  <table id="catalog">
    <thead>
      <tr>
        <th>ID</th>
        <th scope="col">Society</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Zipcode</th>
        <th scope="col">City</th>
        <th scope="col">Phone</th>
        <th scope="col">Fax</th>
      </tr>
    </thead>
    <tbody>
      <% clients.forEach(client => { %>
      <tr>
        <th scope="row"><%= client.num_client %></th>
        <td><%= client.society %></td>
        <td><%= client.contact %></td>
        <td><%= client.addres %></td>
        <td><%= client.zipcode %></td>
        <td><%= client.city %></td>
        <td><%= client.phone %></td>
        <td><%= client.fax %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<br />
<%- include('footer'); -%>
